<h1>{{title}}</h1>
<div>
    <h2>Balance neto:</h2>
    <h2>Ultimos movimientos:</h2>
</div>
<div>
    <button type="button" class="btn btn-primary btn-block"><a href="form" </a>Ingresar movimiento</button>
    <br>
    <button type="button" class="btn btn-primary btn-block"><a href="movements"</a>Ver movimientos</button>
</div>
