<h1>Movimientos:</h1>
<div>
    <button type="button" class="btn btn-primary btn-block"><a href="form" </a>Editar</button>
    <br>
    <button type="button" class="btn btn-primary btn-block"><a href="movements"</a>Eliminar</button>
</div>

